<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026224257603-vjhaskugeo017j24l2trpmk6ld5q97ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026224257603-vjhaskugeo017j24l2trpmk6ld5q97ra</string>
	<key>API_KEY</key>
	<string>AIzaSyDYxT1wWuKzd-ttvBZvAx0Y8DyLWJPT5PI</string>
	<key>GCM_SENDER_ID</key>
	<string>1026224257603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewFlutter</string>
	<key>PROJECT_ID</key>
	<string>naser-side-kick</string>
	<key>STORAGE_BUCKET</key>
	<string>naser-side-kick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026224257603:ios:d6e83195da1e4af7bef2f6</string>
</dict>
</plist>